[submodule "es-3-backend"]
	path = es-3-backend
	url = https://github.com/fifthbeat/gara-sky-feb24-es-3-backend.git
[submodule "es-3-fe"]
	path = es-3-fe
	url = https://github.com/fifthbeat/gara-sky-feb24-es-3-fe.git
